.disclaimer {
  width: 100vw;
  background-color: var(--red);
  color: var(--light);
  padding: 0.75rem;
  font-size: 0.75rem;
}

.disclaimer a {
  font-size: 0.75rem;
  color: var(--light);
  text-decoration: underline;
}
.disclaimer a:hover {
  color: var(--darkblue);
}
