.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 350px;
    padding: 1rem;
    border: 2px solid var(--red);
    border-radius: var(--global-radius);
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--darkblue);
}

.label {
    text-align: left;
    width: 100%;
}

.input {
    padding: 0.5rem;
    color: var(--darkblue);
}

.invalid {
    color: var(--red);
}
