.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 350px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem;
    color: var(--darkblue);
}

.label {
    text-align: left;
    width: 100%;
}

.input {
    padding: 0.5rem;
    color: var(--darkblue);
}
