@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Brand colors */
    --red: #ff3b6a;
    --yellow: #ffff5a;
    --light: #ffffdd;
    --cyan: #32f9e1;
    --darkblue: #020866;
    /* Global values */
    --global-radius: 4px;
}

* {
    box-sizing: border-box;
}

html,
body {
    text-align: center;
    font-family: sans-serif;
    background-color: var(--light);
    color: var(--darkblue);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p,
a {
    font-size: 1rem;
}

a {
    color: var(--red);
    font-style: italic;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

input {
    padding: 0.25rem;
    border: 1px solid var(--red);
    border-radius: var(--global-radius);
}

input[type='submit'] {
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: var(--red);
    color: var(--light);
    border-radius: var(--global-radius);
    border: 1px solid var(--red);
    transition: all 0.5s ease;
}

@media (hover) {
    a:hover {
        color: var(--darkblue);
    }

    input[type='submit']:hover {
        border-color: var(--darkblue);
        color: var(--darkblue);
    }
}
