.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  opacity: 0.5;
}

.modal {
  width: 300px;
  padding-bottom: 2rem;
  position: fixed;
  top: 20vh;
  left: calc(50% - 150px);
  right: auto;
  background-color: var(--light);
  border-radius: var(--global-radius);
  border: 2px solid var(--red);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}

.modal-content p,
.modal-content a {
  font-size: 1.5rem;
}

.header {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  background-color: var(--red);
}

.elements-block {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  flex-direction: column;
}

.price {
  width: 100%;
  background-color: var(--light);
  padding: 0.5rem;
  border: 2px solid var(--red);
  text-align: center;
  font-size: 1.5rem;
  border-radius: var(--global-radius);
}

.worldcoin {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.qr {
  width: 10rem;
  height: 10rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

@media (hover) {
  .worldcoin:hover {
    transform: scale(1.1);
  }
}
